@charset "UTF-8";
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../../fonts/Raleway-Bold.woff2") format("woff2"), url("../../fonts/Raleway-Bold.woff") format("woff"), url("../../fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Black.woff") format("woff"), url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.ttf") format("truetype");
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --main-font: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: var(--main-font);
}

body {
  width: 100%;
  font-family: var(--main-font);
  font-style: normal;
  color: var(--primary-text-color);
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.lists {
  list-style: none;
}

.btn {
  font-family: var(--main-font);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(0) translate(-50%, -50%);
}
.modal .modal-main-title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  width: 100%;
}

.modal-form-wrapper {
  display: flex;
  flex-direction: column;
}
.modal-form-wrapper:not(:nth-child(4)) {
  margin-bottom: 10px;
}
.modal-form-wrapper input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal-form-wrapper textarea:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form-wrapper input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-text + textarea {
  outline: none;
}

.modal-input-icon {
  position: relative;
  display: flex;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-box {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box-text {
  position: relative;
  padding-left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #757575;
}

.modal-form-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: none; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 7px; */
}
.form-checkbox:checked ~ .modal-form-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 7px; */
  border: none;
}
.form-checkbox:focus ~ .modal-form-checkbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-nocheckbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 7px; */
  border: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked ~ .modal-form-nocheckbox {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
}
.form-checkbox:focus ~ .modal-form-nocheckbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-link-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-link-text:hover, .form-link-text:focus {
  text-decoration: none;
  color: #188ce8;
}

.btn-modal-submit {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 55px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-submit:hover, .btn-modal-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-icon, .modal-btn:focus .modal-icon {
  fill: #2196f3;
}

.header {
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo-web {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-web:focus, .logo-web:hover {
  color: var(--accent-color);
}

.header-lists {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}

.header-item-link {
  position: relative;
  display: block;
  height: 100%;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item-link:hover, .header-item-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* -----Контакты хедера----- */
.header-contact-lists {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contact-item:not(:first-child) {
  margin-left: 50px;
}

.header-contact-link {
  display: flex;
  padding: 32px 0;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link:hover, .header-contact-link:focus {
  color: var(--accent-color);
}

.header-contact-pic {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-big.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.work {
  padding-top: 94px;
  background-color: #ffffff;
}

.work-lists {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 90px) / 4);
}

.work-icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.work-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.work-position {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.projects {
  background-color: #ffffff;
  padding: 94px 0;
}

.projects-lists {
  display: flex;
  gap: 30px;
}

.projects-item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects-label {
  position: relative;
}

.projects-label-text {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* -----Другой вариант сетки----- */
/* .projects-item:not(:last-child) {
  margin-right: 30px;
} */
.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team-lists {
  display: flex;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-div {
  padding: 30px 0;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-card-lists {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-card-item:not(:last-child) {
  margin-right: 10px;
}

.team-card-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card-link:hover, .team-card-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.team-card-link .team-card-icon {
  fill: currentColor;
}

.client-lists {
  display: flex;
  gap: 30px;
}

.client-item {
  flex-basis: calc((100% - 150px) / 6);
}

.client-link {
  display: block;
  padding: 16px 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #2196f3;
}
.client-link .client-icon {
  display: block;
  margin: 0 auto;
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.logo-bottom {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-bottom:hover, .logo-bottom:focus {
  color: var(--accent-color);
}

.address-item {
  margin-top: 12px;
}

.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

.footer-card-title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-card-lists {
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer-card-item:not(:last-child) {
  margin-right: 10px;
}

.footer-card-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-card-link:hover, .footer-card-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.footer-card-link .footer-card-icon {
  fill: currentColor;
}

.footer-form-title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input-mail {
  width: 360px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: #2f303a;
  color: #ffffff;
}
.footer-input-mail::placeholder {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover, .footer-form-btn:focus {
  background-color: #188ce8;
}

.footer-btn-text {
  margin-right: 10px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
}

.portfolio-main {
  background-color: #ffffff;
}

.btn-lists {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item + .btn-item {
  margin-left: 8px;
}

.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
  /* margin-right: 30px;
  margin-bottom: 30px; */
  background-color: #ffffff;
}

/* -----Другой вариант сетки----- */
/* .portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0;
} */
/* .portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */
.portfolio-link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-photo-task {
  position: relative;
  overflow: hidden;
}

.portfolio-photo-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-link:hover .portfolio-photo-text, .portfolio-link:focus .portfolio-photo-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-desc {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */