.header {
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Навигация хедера

.header_nav {
  display: flex;
  align-items: center;
}

// Логотип в хедере

.logo {
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo_web {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.header_lists {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.header_link {
  position: relative;
  display: block;
  height: 100%;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header_link--current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    background-color: #2196f3;
    border-radius: 2px;
  }
}

/* -----Контакты хедера----- */

.header-contact_lists {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contact_item:not(:first-child) {
  margin-left: 50px;
}

.header-contact_link {
  display: flex;
  padding: 32px 0;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact_pic {
  fill: currentColor;
  margin-right: 10px;
}
