.work {
  padding-top: 94px;
  background-color: #ffffff;
}

.work-lists {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 90px) / 4);
}

.work-icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.work-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.work-position {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
